# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/
ENV/
env.bak/
venv.bak/

# Distribuição / packaging
build/
dist/
*.egg-info/

# Logs e relatórios de testes
*.log
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml

# Arquivos de configuração e variáveis sensíveis
.env
*.env

# Banco de dados SQLite (ajuste o caminho se necessário)
aggregator.db
**/aggregator.db
data/

# Arquivos e pastas de IDEs/Editeurs
.vscode/
.idea/

# Docker
docker-compose.override.yml
**/docker-compose.override.yml

# Outros arquivos do sistema
.DS_Store
Thumbs.db
celerybeat-schedule*